*,
*::after,
*::before{
    box-sizing: border-box;
}
 :root{
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

     --fw-reg:300;
     --fw-bold:900;

     --clr-ligth:#fff;
     --clr-dark:#303030;
     --clr-accent:#16e0bd;

     --fs-h1: 3rem;
     --fs-h2: 2.25rem;
     --fs-h3: 1.25rem;
     --fs-body: 1rem;
 }

 @media (min-width:800px){
     :root{
         --fs-h1:4.5rem;
         --fs-h2: 3.75rem;
         --fs-h3: 1.5rem;
         --fs-body: 1.125rem;
     }
 }
/* General Styles */
body{
    background: var(--clr-ligth);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    overflow-x: hidden;
}
img{
    display: block;
    max-width: 100%;
}
:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}
.btn{
    background-color: var(--clr-accent);
    color: var(--clr-dark);
    padding: 0.5em 2.5em;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    font-size: .8rem;
    cursor: pointer;
    outline: none;
}

.btn:hover{
    transform: scale(1.2);
}

.logo{
    margin: 0;
    float: left;
}
strong{ font-weight: var(--fw-bold);}

h1, h2, h3{
    line-height: 1.1;
    margin: 0;
}

h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}

.section__title{
    margin-bottom: .25em;
}

.section__title--intro{
    font-weight: var(--fw-reg);
}
.section__title--intro strong{
    display: block;
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about{
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0 1em;
}

/* header */
header{
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.logo{
    max-width: 100px;
}

.nav{
    position: fixed;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}
.nav__list{
    display: flex;
    list-style: none;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;

}

.nav__link{
    color: var(--clr-ligth);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover{
    color: var(--clr-accent);
}

.nav-toggle{
    background:transparent;
    padding: 0.25em;
    border: 0;
    cursor: pointer;
    position: relative;
    right: 1em;
    top: 1em;
    z-index: 1000;
    outline: none;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle{
    position: fixed;
}

.nav-open .hamburger{
    transform: rotate(.625turn);
}

.nav-open .hamburger::before{
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after{
    opacity: 0;
}

.hamburger{
    display: block;
    position: relative ;
}

.hamburger,
.hamburger::after,
.hamburger::before{
    background-color: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::after,
.hamburger::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::after{bottom: 6px;}
.hamburger::before{top: 6px;}
/* Intro section */

.intro{
    position: relative;
    padding: 1em;   
}
@keyframes float {
    0% {box-shadow: 0px 5px 15px 0px rgba(0,0,0, 0.6); transform: translateY(0px);}
    50% {box-shadow: 0px 15px 15px 0px rgba(0,0,0, 0.2); transform: translateY(-20px);}
    100% {box-shadow: 0px 5px 15px 0px rgba(0,0,0, 0.6); transform: translateY(0px);}
}


.intro__img{
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.6);
    border-radius: 30% 70% 50% 50% / 30% 30% 70% 70%;
    position: relative;
    animation-name: float;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.section__subtitle--intro{
    display: inline-block;
}

@media (min-width: 600px){
    .intro{
    display: grid;
    width: min-content;
    margin: 0 auto;
    margin-bottom: 80px;
    margin-top: 50px;
    grid-template-areas: 
        "img title"
        "img subtitle";
    grid-column-gap: 1em;
    grid-template-columns:  min-content max-content;
    }

    .intro__img{
        grid-area: img;
        min-width: 250px;
        position:relative;
        z-index: 2;
    }
    
    .section__subtitle--intro{
         align-self: start;
         grid-column: -1 / 1;
         grid-row: 2;
         text-align: right;
         position: relative;
         left: -1em;
    }
}

/* My services section */
.my-services{
    background-image: url(images/portfolio_bg.jpg);
    background-color: var(--clr-dark);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-ligth);
    text-align: center;
    padding:1em;
}

.section__title--services{
    color: var(--clr-accent);
    position: relative;
}
.section__title--services::after{
    content: "";
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background-color: currentColor;
}
.services{
    margin-bottom: 4em;
    font-weight: 200;
}
.service{
    max-width: 500px;
    margin: 0 auto;
}
@media (min-width: 800px){
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .service + .service{
        margin-left: 2em;
    }
}

/* About me */
.about-me{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 4em;
    padding: 1em;
}

@media (min-width: 600px){
    .about-me{
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
            grid-column-gap: 2em;

    }
    .section__title--about{
        grid-area: title;
    }
    .section__subtitle--about{
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
    .about-me__img{
        grid-area: img;
        position: relative;
        z-index: 2;
    }
    .portfolio{
        grid-template-columns: repeat(4, 1fr);
    }
}

/* My work */

.my-work{
    background-color: var(--clr-dark);
    color: var(--clr-ligth);
    text-align: center;
}

.section__subtitle--work{
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

.portfolio{
    display: grid;
    grid-gap: 1em;
    padding: 1em;
}

.portfolio__item{
    background: var(--clr-accent);
    overflow: hidden;
    border-radius: 0.5em; 
}

.portfolio__img{
    transition: 
        transform 700ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
      
}

.portfolio__img:hover{
    transform: scale(1.2);
    opacity: 0.75;
}

/* Footer Section */
footer{
    background-color: #303030;
    text-align: center;
}
.social-list{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding:0;
}

.social-list__item{
    list-style-type: none;
    border-bottom: 1px solid #e9e9e0;

}

.social-list__link{
    font-size: 1.5em;
    margin: 0 1.5em;
    color: var(--clr-ligth);
}

.social-list__link:hover{
    color: var(--clr-accent);
}

.footer__copy{
    color: #888;    
}
