@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  font-size: 16px;
  --color-primary: #ff7143;
  --base-color: #19191b;
  --line-color: #5454d4;
  --color-white: #fff;
  font-family: "DM Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.nav-list {
  display: flex;
  list-style: none;
}

.nav-item {
  padding: 1rem;
}
.nav-link {
  color: var(--base-color);
  text-decoration: none;
  letter-spacing: 1px;
  transition: color 0.5s ease;
}

.nav-link:hover {
  color: var(--line-color);
  text-decoration: underline var(--line-color) 2px;
}

.anchor {
  padding: 1rem 2.5rem;
  background-color: var(--color-primary);
  text-decoration: none;
  border-radius: 10px;
  color: var(--color-white);
}

.main_anchor {
  background-color: var(--line-color);
  align-self: flex-start;
}

/* Main */
.main {
  height: 80vh;
  padding: 5rem 0;
}
.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.left {
  flex: 0 0 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.heading_primary {
  font-size: 7.5rem;
}
.paragraph {
  letter-spacing: 1px;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.bubble {
  top: 80%;
  left: 60%;
  transition: transform 0.5s ease;
  transform-origin: bottom;
}
.stand {
  top: 30%;
  left: -20%;
  transition: transform 0.5s ease;
}
.hero {
  top: 10%;
  left: -20%;
  transition: transform 0.5s ease;
}
.right:hover .bubble {
  transform: rotate(10deg);
}
.right:hover .stand {
  transform: rotate(-10deg);
}
.right:hover .hero {
  transform: translateY(-4rem);
}
.right {
  position: relative;
  flex: 0 0 40%;
}

.right img {
  position: absolute;
}

.partners {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*  */

.pricing {
  width: 80%;
  margin: 0 auto;
}

.pricing_control {
  display: flex;
  justify-content: space-between;
}
.heading_secondary {
  font-size: 3.5rem;
}

.type-plan {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 0 50%;
  font-size: 2rem;
}
.type-plan a {
  text-decoration: none;
  color: inherit;
}

.month {
  background-color: var(--line-color);
  border: none;
  color: var(--color-white);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 1.5rem 5rem;
}

.year {
  background-color: #efefef;
  border: none;
  color: var(--base-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1.5rem 5rem;
}

.cards {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  align-items: center;
}

.card {
  display: flex;
  height: 35rem;
  flex-direction: column;
  background-color: #efefef;
  text-align: center;
  flex: 0 0 30%;
  border-radius: 10px;
  padding: 1.5rem;
  transition: all 0.8s ease;
}

.card span {
  padding: 2rem 1rem;
  font-size: 1.4rem;
}
.card .anchor {
  background-color: var(--color-white);
  color: var(--line-color);
}

.premium .anchor {
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.5);
}
.premium {
  color: var(--color-white);
  background-color: var(--color-primary);
  height: 38rem;
}
.card:hover {
  height: 38rem;
  color: #fff;
  background-color: var(--color-primary);
}
