* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  background-image: linear-gradient(to top left, #1f6bce 40%, #65f4c9 80%);
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-around;
  margin: 0.5em;
}

.logo {
  margin: 0.5em;
  width: 90px;
  height: 90px;
}

.tic-tac {
  font-size: 2.5em;
  position: relative;
  top: 20px;
}
table,
tr,
td {
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.4);
  border: 3px solid #fff;
  border-collapse: collapse;
  text-align: center;
  padding: 0.25em;
  font-size: 1.15em;
}

.current-player {
  text-align: center;
  margin-bottom: 0.25em;
  font-size: 2em;
}

.display-player {
  color: rgb(255, 94, 0);
}

.winning-player {
  text-align: center;
  margin: 0.25em;
  font-size: 2em;
}

.turn-X {
  color: yellow;
}

.turn-O {
  color: rgb(255, 94, 0);
}

.draw {
  color: #ffe162;
}

.win {
  background-color: #5fbf05;
  color: #1f6bce;
  transition: all 500ms ease;
}

.cell {
  font-size: 2.5em;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.btn--new {
  background-image: linear-gradient(to top left, #65f4c9 30%, #1f6bce 50%);
  border: solid #fff;
  border-radius: 24px;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 0.5em;
  width: 375px;
  height: 50px;
  font-size: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 300ms ease;
}
.btn--new:active {
  transform: translateY(15px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.hidden {
  display: none;
}

footer {
  padding: 1em;
  text-align: center;
  color: rgb(209, 204, 204);
  font-size: 1em;
  position: absolute;
  bottom: 0;
}

footer p {
  width: 100vw;
}

footer p a {
  text-decoration: none;
  color: aqua;
}

/* Media queries */

@media (max-width: 800px) {
  .cell {
    width: 45px;
    height: 45px;
    font-size: 2em;
  }
  .btn--new {
    width: 210px;
  }
}

@media (max-width: 600px) {
  .cell {
    width: 60px;
    height: 60px;
    font-size: 2em;
  }
  .btn--new {
    width: 255px;
  }
  .tic-tac {
    font-size: 2em;
  }
}

@media (max-width: 400px) {
  .cell {
    width: 50px;
    height: 50px;
    font-size: 2em;
  }
  .btn--new {
    width: 225px;
  }
  .tic-tac {
    font-size: 2em;
    top: 10px;
  }

  .logo {
    width: 60px;
    height: 60px;
  }
}
