.weekly-box {
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 0 1 12%;
  padding: 1.5rem 0.5rem;
  transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border-radius: 10px;
  box-shadow: -5px -5px 10px #0e0e0e, 5px 5px 10px #363636;
}

.weekly-box i {
  font-size: 1.5rem;
  color: var(--color-primary-2);
}

.weekly-box > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.weekly-weather__icon {
  font-size: 5rem;
}
.weekly-data {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
}

.temp-weekly {
  font-size: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .weekly-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1.5rem;
    padding-right: 2rem;
    font-size: 1.8rem;
  }
  .weekly-data i {
    font-size: 2.5rem;
    margin-left: 3rem;
  }
  .weekly-box {
    flex: 0 0 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.week-data {
  justify-content: space-between;
}
.week-data i {
  font-size: 4rem;
  margin-right: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .week-data {
    margin: 0;
    margin-bottom: 0;
    margin-left: 4rem;
    margin-top: 3rem;
    flex: 0 1 50%;
  }
}
.week-time {
  font-size: 1.4rem;
}
@media only screen and (max-width: 37.5em) {
  .week-time {
    margin-left: 3rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    justify-content: flex-start;
    grid-column: 1 / 3;
  }
}
.heading {
  font-size: 2.5rem;
  font-weight: 300;
  margin-top: 2.5rem;
}
.time {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
}
