.weekly-weather {
  display: flex;
  grid-column: 1 / 3;
  padding: 3rem 0rem;
  justify-content: space-around;
  text-align: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.weekly-weather::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .weekly-weather *:not(:last-child) {
    margin-left: 2rem;
  }
}
