.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header i {
  font-size: 2.5rem;
  color: var(--color-primary-2);
}
.search {
  display: flex;
  align-items: center;
  flex: 0 0 35%;
}
.search-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin-left: -3rem;
  font-weight: 200;
}
@media only screen and (max-width: 37.5em) {
  .search {
    flex: 0 0 60%;
  }

  .search-input {
    border-radius: 5px;
  }

  .search-button {
    margin-right: 2rem;
  }
}
.search-input {
  width: 85%;
  height: 100%;
  padding: 1.2rem 0.5rem;
  border: none;
  border-radius: 5px;
  color: var(--font-color-2);
  box-shadow: -5px -5px 10px #0e0e0e, 5px 5px 10px #363636;
  background-color: transparent;
  transition: width 0.5s ease;
  font-family: 'Spartan', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
}
.search-input:focus {
  width: 95%;
  outline: none;
  box-shadow: -5px -5px 10px #0e0e0e, 5px 5px 10px #363636;
}
::placeholder {
  font-family: 'Spartan', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  color: #777;
}

.controls {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: -5px -5px 10px #0e0e0e, 5px 5px 10px #363636;
}
.controls * {
  font-size: 2.2rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 40%;
  cursor: pointer;
}
@media only screen and (max-width: 56.25em) {
  .controls * {
    font-size: 1.8rem;
  }
}

.date-time {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  justify-content: space-around;
  font-size: 1.5rem;
}

@media only screen and (max-width: 37.5em) {
  .controls {
    flex: 0 0 15%;
    border-radius: 5px;
  }
  .date-time {
    align-items: flex-end;
  }
}
