.App {
  padding: 50px 0;
  position: relative;
  overflow: hidden;
}

.App .particle{
  position: absolute;
  border-radius: 50%;
  background-color: #c9defe;
  z-index: -1;
}
.particle-1{
  top: -35%;
  left: -10%;
  width: 600px;
  height: 600px;
}

.particle-2{
  top: 40%;
  left: 65%;
  width: 700px;
  height: 700px;
}
