body {
  margin: 0;
}
.scrollbarHidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbarHidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.rotate{
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}