@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Tourney", cursive;
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
}

/* LAYOUT */
header {
  position: relative;
  height: 35vh;
  border-bottom: 7px solid #eee;
}

main {
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 52rem;
  font-size: 3rem;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 4.5rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.between {
  font-size: 2.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 3rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

.message {
  margin-bottom: 8rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}

footer {
  height: 10vh;
  margin: 0;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.25em;
  color: #666;
  line-height: 1.5em;
}
@media (max-width: 800px) {
  .right {
    font-size: 2em;
  }
  h1 {
    font-size: 2rem;
  }
  .number {
    width: 5rem;
    font-size: 4rem;
    padding: 1rem 0rem;
  }
  .between {
    font-size: 1.5rem;
  }
  .guess {
    width: 3.5em;
    font-size: 3.5rem;
    padding: 2rem;
  }
}
@media (max-width: 500px) {
  html {
    height: 100vh;
  }
  header {
    height: 40vh;
  }
  main {
    height: 50vh;
  }
  .right {
    font-size: 2em;
  }
  h1 {
    font-size: 3rem;
  }
  .number {
    width: 10rem;
    font-size: 4rem;
  }
  .between {
    font-size: 1.5rem;
  }
  .guess {
    width: 3.5em;
    font-size: 3.5rem;
    padding: 2rem;
  }
}
