:root {
  --color-primary-1: #222222;
  --color-primary-2: #c29254;
  --font-color-1: #f1f1f1;
  --font-color-2: #fefefe;
}

body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.focused {
  font-size: 2rem;
  margin-top: 3.5rem;
}

.fade {
  animation: fadeInUp 2s ease;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
