@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #c7365f;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 4rem;
}
.btn--roll {
  top: 39.3rem;
}
.btn--hold {
  top: 46.1rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

.hidden {
  display: none;
}

.footer {
  color: #fff;
  font-size: 1em;
  text-align: center;
  letter-spacing: 1.5px;
  padding: 1rem 0.25rem;
}

.instruction {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  padding: 10px;
  font-size: 2em;
  position: absolute;
  left: 95%;
  cursor: pointer;
  transition: all 300ms ease;
}

.btn--close {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2em;
  font-weight: bold;
  float: right;
  position: absolute;
  top: 1rem;
  right: 2rem;
}

#btn--inst:active {
  transform: translateY(6px);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
  padding: 4.5rem 6rem;
  transform: translate(-50%, -50%);
  color: rgb(3, 3, 3);
  font-size: 2em;
  text-align: center;
  z-index: 10;
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  backdrop-filter: blur(3px);
  overflow: hidden;
}

/* Media queries */

@media (max-width: 800px) {
  body {
    height: 110vh;
  }
  main {
    margin-top: 1em;
    width: 60rem;
    height: 95vh;
  }
  .player {
    padding: 2.5rem;
  }
  .name {
    font-size: 3rem;
  }
  .btn {
    font-size: 1em;
    padding: 0.1em 0.5rem;
    font-size: 1.5rem;
  }
  .current {
    padding: 1.5rem;
    width: 50%;
  }
  .btn--roll {
    top: 20rem;
  }
  .btn--hold {
    top: 25rem;
  }
  .dice {
    top: 11rem;
    height: 6rem;
  }
  .instruction {
    left: 85%;
    bottom: -35px;
  }
  .modal {
    font-size: 2.2em;
    width: 80%;
    padding: 2rem;
  }
  .overlay {
    height: 110vh;
  }
  .instruction {
    bottom: -29px;
  }
  .modal {
    width: 75%;
    font-size: 2em;
  }
}

@media (max-width: 600px) {
  main {
    width: 35rem;
    height: 50rem;
  }
  .player {
    padding: 2rem;
  }
  .name {
    font-size: 2.5rem;
  }
  .btn {
    top: 6.5rem;
    padding: 0em 1.2rem;
    font-size: 1.5rem;
  }
  .current {
    padding: 1rem;
    width: 80%;
  }
  .btn--roll {
    top: 28rem;
  }
  .btn--hold {
    top: 32rem;
  }
  .dice {
    top: 15rem;
    height: 8rem;
  }
  .current-label {
    font-size: 1.2rem;
  }
  .score {
    margin: auto;
  }
  .modal {
    padding: 2rem 1.5rem;
  }
}

@media (max-width: 400px) {
  main {
    width: 35rem;
    height: 45rem;
  }
  .player {
    padding: 2rem;
  }
  .btn {
    top: 6rem;
    padding: 0em 1.2rem;
    font-size: 1.5rem;
  }
  .current {
    padding: 1rem;
    width: 80%;
  }
  .btn--roll {
    top: 24rem;
  }
  .btn--hold {
    top: 29rem;
  }
  .dice {
    top: 14rem;
    height: 6rem;
  }
  .current-label {
    font-size: 1.2rem;
  }
  .score {
    margin: auto;
  }
  .instruction {
    left: 85%;
    bottom: 1%;
  }
  .modal {
    width: 80%;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
  }
}
