.container {
  width: 95%;
  margin: 0 auto;
  grid-column: 1 / 3;
  padding: 15px;
  border-radius: 10px;
  border: dashed 2px #333;
  cursor: pointer;
  text-align: center;
}

.select {
  display: none;
}
.label {
  color: rgb(40, 198, 230);
  text-decoration: underline;
  cursor: pointer;
}

.icon {
  font-size: 2.5rem !important;
  cursor: pointer;
}

.text {
  font-size: 1.1rem;
}
