* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-size: 2rem;
  font-family: "Poiret One", cursive;
  background-color: #06373a;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.board {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .board {
    padding: 0;
  }
}

.cards-container {
  width: 40vw;
  height: 80vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem;
  -webkit-perspective: 150rem;
          perspective: 150rem;
}

@media only screen and (max-width: 56.25em) {
  .cards-container {
    width: 80vw;
    height: 70vh;
    grid-gap: 1rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .cards-container {
    width: 90vw;
    height: 75vh;
    grid-gap: 0.6rem;
  }
}

.card {
  position: relative;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card-front, .card-back {
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  height: 100%;
  padding: 2rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card-front {
  background-color: #ffffff;
  padding: 3.5rem;
}

@media only screen and (max-width: 56.25em) {
  .card-front {
    padding: 1rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .card-front {
    padding: 1.5rem;
  }
}

.card-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media only screen and (max-width: 56.25em) {
  .card-back {
    padding: 1rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .card-back {
    padding: 1rem;
  }
}

.card:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.card.flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card-back__fcb {
  background-image: -webkit-gradient(linear, right top, left top, from(#db0000), to(#0a029e));
  background-image: linear-gradient(to left, #db0000, #0a029e);
}

.card-back__rmd {
  background-image: radial-gradient(#ffff 20%, #0a029e 80%);
}

.card-back__cfc {
  background-color: #0a029e;
}

.card-back__mc {
  background-image: radial-gradient(#bebebe 30%, #026d9e 70%);
}

.card-back__mu {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, #f93600), to(#fff201));
  background-image: linear-gradient(to left, #f93600 50%, #fff201);
}

.card-back__atm {
  background-image: linear-gradient(317deg, #e30000 20%, #fff, #0a029e 80%);
}

.card-back__ar {
  background-image: radial-gradient(#a58a0da9 30%, #ba0f00 70%);
}

.card-back__liv {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#00e8f9), color-stop(#c10a0a), to(#00e8f9));
  background-image: linear-gradient(to top, #00e8f9, #c10a0a, #00e8f9);
}

.game-active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

img {
  width: 100%;
  height: 95%;
  -o-object-fit: contain;
     object-fit: contain;
}

.heading {
  color: #fff;
  font: inherit;
  text-align: center;
  margin-bottom: 1rem;
}

.game-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
  font-size: 3rem;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.game-info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes cardGrow {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes cardGrow {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.overlay-window {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1111;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  cursor: pointer;
  -webkit-animation: float 0.2s infinite;
          animation: float 0.2s infinite;
}

.overlay-window.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10rem;
  -webkit-animation: overlay 500ms forwards;
          animation: overlay 500ms forwards;
}

@media only screen and (max-width: 37.5em) {
  .overlay-window.visible {
    font-size: 5rem;
  }
}

.window {
  width: 70vw;
  height: 85vh;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3.5rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  border-radius: 10px;
  font-size: 2.5rem;
}

@media only screen and (max-width: 37.5em) {
  .window {
    width: 85vw;
    height: 60vh;
    padding: 1rem;
    font-size: 2rem;
  }
}

.winning-window.visible,
.game-over-window.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  background-color: white;
  color: black;
}

@-webkit-keyframes overlay {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, 0.76);
  }
}

@keyframes overlay {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, 0.76);
  }
}

.btn {
  border: none;
  padding: 1.5rem 3rem;
  background-color: royalblue;
  border-radius: 3px;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.btn:focus {
  outline: none;
}

.btn:active {
  -webkit-transform: translateY(1.5rem);
          transform: translateY(1.5rem);
}

.took-min,
.took-sec,
.took-moves {
  color: royalblue;
}

.footer {
  padding: 1rem 0;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
}

.footer a {
  color: #0af1f9;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.hidden {
  opacity: 0;
}
/*# sourceMappingURL=main.css.map */