* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      ///600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      ///900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      ///1200px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      ///1800px
      @content;
    }
  }
}

html {
  font-size: 62.5%;
  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  font-size: 2rem;
  font-family: "Poiret One", cursive;
  background-color: #06373a;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include respond(phone) {
    padding: 0;
  }
}

.cards-container {
  width: 40vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem;
  perspective: 150rem;

  @include respond(tab-port) {
    width: 80vw;
    height: 70vh;
    grid-gap: 1rem;
  }
  @include respond(phone) {
    width: 90vw;
    height: 75vh;
    grid-gap: 0.6rem;
  }
}
.card {
  position: relative;
  transform: scale(0);
  transform-style: preserve-3d;
  transition: all 0.5s ease;

  //
  &-front,
  &-back {
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    height: 100%;
    padding: 2rem;
    backface-visibility: hidden;
  }

  &-front {
    background-color: #ffffff;
    padding: 3.5rem;

    @include respond(tab-port) {
      padding: 1rem;
    }

    @include respond(phone) {
      padding: 1.5rem;
    }
  }
  &-back {
    transform: rotateY(180deg);

    @include respond(tab-port) {
      padding: 1rem;
    }
    @include respond(phone) {
      padding: 1rem;
    }
  }
  &:active {
    transform: scale(0.95);
    transition: transform 0.5s;
  }

  &.flip {
    transform: rotateY(180deg);
  }

  &-back {
    &__fcb {
      background-image: linear-gradient(to left, #db0000, #0a029e);
    }

    &__rmd {
      background-image: radial-gradient(#ffff 20%, #0a029e 80%);
    }

    &__cfc {
      background-color: #0a029e;
    }
    &__mc {
      background-image: radial-gradient(#bebebe 30%, #026d9e 70%);
    }
    &__mu {
      background-image: linear-gradient(to left, #f93600 50%, #fff201);
    }
    &__atm {
      background-image: linear-gradient(317deg, #e30000 20%, #fff, #0a029e 80%);
    }
    &__ar {
      background-image: radial-gradient(#a58a0da9 30%, rgb(186, 15, 0) 70%);
    }
    &__liv {
      background-image: linear-gradient(
        to top,
        #00e8f9,
        rgb(193, 10, 10),
        #00e8f9
      );
    }
  }
}

.game-active {
  transform: scale(1);
}

img {
  width: 100%;
  height: 95%;
  object-fit: contain;
}

.heading {
  color: #fff;
  font: inherit;
  text-align: center;
  margin-bottom: 1rem;
}

.game-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
  font-size: 3rem;
  transition: opacity 1s ease;
  & div {
    display: flex;
    align-items: center;
  }
}

@keyframes cardGrow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.overlay-window {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1111;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  animation: float 0.2s infinite;
}

.overlay-window.visible {
  display: flex;
  font-size: 10rem;
  animation: overlay 500ms forwards;
  @include respond(phone) {
    font-size: 5rem;
  }
}

.window {
  width: 70vw;
  height: 85vh;
  position: fixed;
  align-items: center;
  justify-content: center;
  padding: 0 3.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  border-radius: 10px;
  font-size: 2.5rem;

  @include respond(phone) {
    width: 85vw;
    height: 60vh;
    padding: 1rem;
    font-size: 2rem;
  }
}

.winning-window.visible,
.game-over-window.visible {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

@keyframes overlay {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, 0.76);
  }
}

.btn {
  border: none;
  padding: 1.5rem 3rem;
  background-color: royalblue;
  border-radius: 3px;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.2s;
  &:focus {
    outline: none;
  }

  &:active {
    transform: translateY(1.5rem);
  }
}

.took-min,
.took-sec,
.took-moves {
  color: royalblue;
}

.footer {
  padding: 1rem 0;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  a {
    color: #0af1f9;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
.hidden {
  opacity: 0;
}
