:root {
  --color-primary-1: #f7f7f7;
  --color-primary-2: #033b3d;
  --font-color: #010101;
  --font-color-2: #010101;
}

body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade {
  animation: fadeInUp 2s ease;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
